<mat-card class="example-card-sidenav">

    <mat-card-header>

        <img mat-card-avatar class="example-header-image" src="assets/avatars/{{participante.avatar}}">

        <mat-card-title>{{ participante.nombre }} {{ participante.apellido }}</mat-card-title>
        <mat-card-subtitle>{{ participante.email }}</mat-card-subtitle>

       <!--  <div *ngIf="usuario._id === usuarioTejido && activo === true">
        <button mat-icon-button color="warn" (click)="borrarParticipante()">
            <mat-icon>delete</mat-icon>
        </button>
        </div> -->

    </mat-card-header>

 

</mat-card>